<!DOCTYPE html>
{% extends 'jobApp/base.html' %}
{% block content_block %}
<div class="addjob" align='left' >
  <a href="/addhyd_jobs/" class=''>@Add Hyderabad Jobs</a><br>
  <a href="/addmumbai_jobs/" class=''>@Add Mumbai Jobs</a><br>
  <a href="/addpune_jobs/" class=''>@Add Pune Jobs</a><br>
  <a href="/addbangalore_jobs/" class=''>@Add Bangalore Jobs</a>
</div>
<nav class="jumbotron">
  <div class="container" align='center'>
    <a href="/hyd_jobs/" class='btn btn-lg btn-warning'>Hyderabad Jobs</a>
    <a href="/mumbai_jobs/" class='btn btn-lg btn-warning'>Mumbai Jobs</a>
    <a href="/pune_jobs/" class='btn btn-lg btn-warning'>Pune Jobs</a>
    <a href="/bangalore_jobs/" class='btn btn-lg btn-warning'>Bangalore Jobs</a>

  </div>

</nav>
{% endblock %}
